In [1]:
import pandas as pd

In [ ]:
# Read JSON Lines file:
df = pd.read_json("../data/reviews.jsonl", lines=True)

# Inspect:
df.head()

            place  rating                                               text
0  Cister Catorce       1  This place is a complete tourist trap, its bes...
1  Cister Catorce       1  AVOID! So sorry I didn't read the reviews befo...
2  Cister Catorce       1  We should have known better but we wanted a qu...
3  Cister Catorce       2  We didn’t check the ratings beforehand, and un...
4  Cister Catorce       1  Wish i read the reviews first, saw the tapa si...