In [1]:
import pandas as pd
from tabulate import tabulate
from collections import Counter

In [7]:
# Read JSON Lines file:
df = pd.read_json("../data/reviews.jsonl", lines=True)

# Inspect:
df.head()

            place  rating                                               text
0  Trevi Fountain       1  I was at this pizzeria. The price was already ...
1  Trevi Fountain       1  4 small beers and 4 omelette, one "pizza" brea...
2  Trevi Fountain       1  Waiter asked me if I wanted a small or large b...
3  Trevi Fountain       1  Nice employee,  nice music, but it is a touris...
4  Trevi Fountain       1  This place should be shut down. There's an inf...

In [8]:
def print_label_distribution(labels):
    total = len(labels)
    counts = Counter(labels)
    labels_sorted = sorted(counts)

    table = []
    for label in labels_sorted:
        count = counts[label]
        percent = (count / total) * 100
        table.append([label, count, f"{percent:.2f}%"])

    table.append(["Total", total, "100.00%"])

    print(tabulate(table, headers=["Label", "Count", "Percentage"], tablefmt="fancy_grid"))

In [9]:
labels = df['rating'].tolist()

In [10]:
print_label_distribution(labels)

╒═════════╤═════════╤══════════════╕
│ Label   │   Count │ Percentage   │
╞═════════╪═════════╪══════════════╡
│ 1       │   20546 │ 15.29%       │
├─────────┼─────────┼──────────────┤
│ 2       │    7152 │ 5.32%        │
├─────────┼─────────┼──────────────┤
│ 3       │   11256 │ 8.38%        │
├─────────┼─────────┼──────────────┤
│ 4       │   21614 │ 16.09%       │
├─────────┼─────────┼──────────────┤
│ 5       │   73802 │ 54.92%       │
├─────────┼─────────┼──────────────┤
│ Total   │  134370 │ 100.00%      │
╘═════════╧═════════╧══════════════╛